body {
  background: #1e242a;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.box1 {
  width: 100%;
  height: 100%;
  background-image: url("images/1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  bottom: -100%;
  left: 30%;
  animation: anim 1.5s forwards 0s, anim2 2s forwards 2s;
}

@keyframes anim {
  from {
    top: -100%;
    left: 0px;
  }
  to {
    bottom: 0%;
    right: 50%;
  }
}

@keyframes anim2 {
  from {
    right: 80%;
  }
  to {
    left: 46%;
  }
}

.box2 {
  color: whitesmoke;
  font-size: 16em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  height: auto;
  width: auto;
  top: 250px;
  left: 100px;
  z-index: auto;
}

#text {
  position: relative;
  left: -150%;
  animation: anim4 2s normal 1.8s forwards;
}

@keyframes anim4 {
  from {
    right: 70%;
  }
  to {
    left: 20px;
  }
}

.maintext1 {
  color: #ffc4c4;
}

.maintext2 {
  color: #a10035;
}

.maintext3 {
color: whitesmoke;
}

.box3{
    height: 520px;
    width: 100px;
    display: inline;
}

em{
    position: relative;
    left: -150%;
    animation: anim4 2s normal 1.8s forwards;
    font-size: 20px;
}